
html, body {
    margin: 0;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    width: 100%;
    height: 100%;
    background: #cdcdcd;
}

.container{
    height: 100%;
    padding: 10px;
}
